.hero {
    position: relative;
    width: 100%;
    height: 500px;
    /* ajusta la altura como quieras */
    background: url("images/hero-rafting.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centra todo verticalmente */
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 40px;
}

/* BLOQUE de imagen + texto */
.hero-info {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.45);
    /* fondo transparente */
    padding: 20px;
    border-radius: 10px;
    width: 70%;
}

.hero-info img {
    width: 130px;
    border-radius: 5px;
}

.hero-info p {
    color: white;
    font-size: 1.1rem;
    line-height: 1.4;
}