/*variables*/
:root {
  --primary-color: #055a05;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
  --color1: #f3f3e6;
  --white: #ffd;
  --transparent-bkcolor: rgba(255, 255, 255, 0.7)
}

/*reset general*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: var(--color1);

}

/*Ancho de la pagina*/
header,
main,
footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*Encabezado*/
h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

/*Texto de Historia */
.history-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

/*Imagen de Historia*/
.history-grid img {
  width: 400px;
  border-radius: 8px;
}

/*Espacios basicos*/
nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

/*HeaDER*/
header {
  display: grid;
  grid-template-columns: 150px 1fr auto;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 10px;
  gap: 20px;

}

/*Logo*/
header img {
  width: 120px;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: var(--accent2-color);
  text-decoration: none;
  font-weight: bold;
}

/*Quitar subrayado en lonk con imagenes*/
.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 40px;
  margin: 0 10px;

}

/*Principal hero*/
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

/*Title over the picture*/
.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: var(--white);
  opacity: 0.7;
}

/*Article over the picture*/
.hero article {
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  background-color: var(--transparent-bkcolor);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 2.0rem;

}

/*Imagen dentro del articulo*/
.hero article img {
  float: right;
  width: 300px;
  margin-left: 10px;
}

/*Footer*/
footer {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialmedia {
  display: flex;
  align-items: center;
}

/*Adventure Awaits You*/
.pictures {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.pictures figure {
  width: 18%;
  text-align: center;
}

.pictures img {
  width: 100%;
  border-radius: 8px;
}