/*variables*/
:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
  --color1: #f5f5dc; 
  --color2: #ffff00; 
  --white: #ffd;
  --black: rgb(3, 3, 8);
  --transparent-bkcolor: rgba(255,255,255,0.7)
}
/*reset general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body*/
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: var(--color1);
  
}
/*Ancho de la pagina*/
header, main, footer {
  width: 1200px;
  margin: 0 auto;
}
/*Encabezado*/
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  
}
/*Espacios basicos*/
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
/*HeaDER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 10px;
}

header img {
  width: 120px;
  border-radius: 5px;

}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

nav ul li a {
  color: var(--accent2-color);
  text-decoration: none;
  font-weight: bold;
}
/*Quitar subrayado en lonk con imagenes*/
.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 40px;
  margin: 0 10px;
}

/*Principal hero*/
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}
/*Title over the picture*/
.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: var(--white);
  opacity: 0.7;
}
/*Article over the picture*/
.hero article {
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  background-color: var(--transparent-bkcolor);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

/*Imagen dentro del articulo*/
.hero article img {
  float: right;
  width: 125px;
  margin-left: 10px;
}
/*Footer*/
footer {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 20px;
}

