/*variables*/
:root {
  --primary-color: #055a05;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
  --color1: #e7f0f7;
  --white: #ffd;
  --transparent-bkcolor: rgba(255, 255, 255, 0.7)
}

/*reset general*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: var(--color1);
}

/*Ancho de la pagina*/
header,
main,
footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*Encabezado*/
.title-1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

/*Header*/
header {
  display: grid;
  grid-template-columns: 150px 1fr auto;
  /*Crea las columnas */
  align-items: center;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 10px;
  gap: 20px;
}

/*Logo*/
header img {
  width: 120px;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: var(--accent2-color);
  text-decoration: none;
  font-weight: bold;
}

/*Backround*/
.hero {
  position: relative;
  width: 100%;
  height: auto;

}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.title-1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 16px 0;
  text-align: center;
  background-color: var(--accent1-color);
  color: #fff;
  font-family: var(--heading-font);
  font-size: 2.5rem;
  z-index: 10;
  margin: 0;
  opacity: 0.7;
}

.hero-info {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 14px;
  width: 90%;
  color: white;
  z-index: 10;
}

.hero-info img {
  width: 300px;
  border-radius: 5px;
}

p {
  font-size: 1.7rem;
}

/*Historia*/
.history-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.history-grid img {
  width: 390px;
  height: auto;
  border-radius: 10px;
}

.history-grid p {
  flex: 1;
  font-size: 1.4rem;
}

/*Title from contact ud*/
.title {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: 2.5rem;
  margin: 20px 0;
  text-align: center;
}

/*Information*/
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 15px;
  flex-wrap: wrap;
  font-weight: bold;
  margin-bottom: 40px;
}

/*Formulario y mapa */
.form-section {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/*formulario*/
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 450px;
}

.contact-form label p {
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  padding: 6px;
}

.opcion {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 30px;
}

.opcion label {
  display: flex;
  align-items: center;
  gap: 6px;
}

#message {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
}

.subscribe {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;

}

/*Adventure Awaits Y and Estamos para servirte*/
.pictures {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.pictures figure {
  width: 100%;
  text-align: center;
}

.pictures img {
  width: 90%;
  height: 90%;
  border-radius: 8px;
}


/*Footer*/
footer {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.socialmedia {
  display: flex;
  align-items: center;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 40px;
  margin: 0 10px;
}

/*Pagina de Inicio - la portada*/

.hero .action {
  position: absolute;
  top: 30%;
  left: 2%;
  background: rgb(255, 255, 255, 0.4);
  padding: 10px 10px;
  border-radius: 25px;
  max-width: 550px;
  height: 260px;
  backdrop-filter: blur(4px);
  z-index: 80;
}

.titleaction {
  text-align: center;
  white-space: nowrap;
  color: var(--accent1-color);
  font-weight: 900;
  font-size: 2.7rem;
}

.ph {
  color: black;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 20px;
}

.tripbutton {
  display: block;
  width: 70%;
  background: #28a745;
  margin: 20px auto 0 auto;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  height: 50px;
}


/*Suscribete y productos*/
.subscribe-imagenes {
  display: flex;
  margin: 40px 0;
  align-items: flex-start;
  gap: 50px;
}

/*suscribete*/
.pt {
  color: black;
  text-align: center;
  font-size: 1.4rem;
}

.t2 {
  font-size: 3.1rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 30px auto 0 auto;
  background-color: #f7fafc;
  padding: 40px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.formulario label {
  font-size: 1.4rem;
  font-weight: 700;
}

.formulario input,
.formulario button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.formulario .button {
  background-color: #28a745;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 50px;
  font-size: 1.7rem;
}

/*productos*/
.purpose .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.purpose img {
  width: 500px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.purpose .info h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #1b4d2e;
  text-align: center;
}

.purpose .info p {
  margin: 0;
  font-size: 1rem;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

/* Pagina de Viajes*/
/*contactanos*/

.contact {
  position: absolute;
  top: 30%;
  right: 30px;
  background: rgb(255, 255, 255, 0.4);
  padding: 10px 10px;
  border-radius: 25px;
  max-width: 700px;
  height: 260px;
  backdrop-filter: blur(4px);
  z-index: 80;
}

/*Imagenes*/
.trip {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.trip img {
  width: 100%;
  height: 70%;
  border-radius: 8px;
}

.trip h3 {
  margin: 10px;
  font-size: 1.6rem;
  color: #1b4d2e;
  text-align: center;
}

.trip p {
  color: black;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 30px;
}

.trips-table h2 {
  margin-top: 30px;
  font-size: 3.1rem;
}

/*tabla de valores*/
.trips-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.trips-table th,
.trips-table td {
  border: 2px solid black;
  padding: 12px;
  text-align: center;
}

.trips-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.trips-table tr:nth-child(even) {
  background-color: #fafafa;
}